html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --accent: #2196F3;
    --text: #757575;
    --white: #FFFFFF;
    --maine: #212121;
    --primery-font-family: Roboto, sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h2, h3, h4, h5, h6 {
    color: var(--maine);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
}

body {
    font-family: var(--primery-font-family);
    color: var(--text);

}

.header-link.current {
    color: var(--accent)
}

.content {
    max-width: 1372px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.header {
    padding-top: 24px;
    padding-bottom: 0px;
    display: flex;
}

.header content {
    align-items: center;
    display: flex;
}

.header-nav,
.header-contacts,
.link-contact {
    display: flex;
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--accent);
    display: flex;
    align-items: center;
    margin-right: 93px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--maine);
    display: flex;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-links {
    font-size: var(--primery-font-family);
    font-size: 14px;
    font-weight: 500;
    color: var(--maine);
    margin-right: 331px;
    display: flex;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link {
    color: var(--maine);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-link:first-child {
    margin-right: 50px;
}

.link-contact {
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
}

.link-contact:first-child {
    margin-right: 50px;
}

.hero-title {
    font-family: 'roboto';
    font-weight: 900;
    font-size: 44px;
    color: var(--white);
    background-color: #2F303A;
    text-align: center;
    padding: 200px 0px 280px;
    height: 600px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/* .container {
    max-width: 1600px;
    margin: 0, auto;
    overflow: hidden;
} */

.hero {
    background-color: #2F303A;
}

/* hero-button */
.hero-button {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    color: var(--white);
}

/* features */
.features-list {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.features-text {
    color: var(--text);
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.team {
    background-color: #F5F4FA, ;
}

.team-text {
    display: flex;
    justify-content: center;
}

.examples-list,
.team-list {
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #2F303A;
    height: 250px;
    width: 1600px;
}

.logo-fotter {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--accent);
    display: flex;
    align-items: center;
    margin-right: 93px;
    margin-top: 60px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-fotter>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--white);
    display: flex;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: -35px;
}

.location {
    color: var(--white);
}

.contact {
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.projects {
    background-color: var(--white);
}

.buttons {
    display: flex;
}

.buttons-filter {
    display: flex;
}

.button-filter {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    cursor: pointer;
}

.button.button-filter {
    cursor: pointer;
}

.projects {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-title {
    display: flex;
    justify-content: left;
}

.project-text {
    display: flex;
    justify-content: left;
}

/* hover,  */
.address :hover,
.header-nav :hover,
.header-contacts :hover,
.address :focus,
.header-nav :focus,
.header-contacts :focus,
.logo-fotter>span :hover,
.logo-fotter :hover,
.logo-fotter>span :focus,
.logo-fotter :focus {
    color: var(--accent);
}