html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --accent: #2196F3;
    --text: #757575;
    --white: #FFFFFF;
    --maine: #212121;
    --primery-font-family: Roboto, sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: var(--primery-font-family);
    color: var(--text);

}

.header-nav.current {
    color: var(--accent)
}

.content {
    max-width: 1372px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

/* .header {
    padding-top: 24px;
    padding-bottom: 0px;
    display: flex;
} */

/* .header content {
    align-items: center;
    display: flex;
} */

/* .header-nav,
.header-contacts,
.link-contact {
    display: flex;
} */

.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--accent);
    margin-right: 93px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex;
    align-items: center; */
}

.logo-header>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--maine);
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex; */
}

.header-nav {
    color: var(--maine);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav:first-child {
    margin-right: 50px;
}

.nav-contact {
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

/* .nav-contact:first-child {
    margin-right: 50px;
} */
/* hero */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    color: var(--white);
    background-color: #2F303A;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* text-align: center; */
    /* padding: 200px 0px 280px;
    height: 600px; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

}

/* .container {
    max-width: 1600px;
    margin: 0, auto;
    overflow: hidden;
} */

.hero {
    background-color: #2F303A;
}

/* hero-button */
.hero-button {
    font-family: var(--primery-font-family);
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.06em;
    line-height: 1.8;
}

/* features */
/* .features-list {
    display: flex;
    justify-content: space-between;
    text-align: left;
} */
.features-title {
    color: var(--maine);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.features-text {
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.examples-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA, ;
}

.team-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-member {
    color: var(--maine);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex;
    justify-content: center; */
}

/* .examples-list,
.team-list {
    display: flex;
    justify-content: space-between;
} */

.footer {
    background-color: #2F303A;
    height: 250px;
    width: 1600px;
}

.logo-fotter {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent);
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex;
    align-items: center;
    margin-right: 93px;
    margin-top: 60px; */
}

.logo-fotter>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--white);
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* display: flex; */
}

.footer-adress {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* margin-left: -35px; */
}

.footer-location {
    color: var(--white);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.projects {
    background-color: var(--white);
}

/* .buttons {
    display: flex;
}

.buttons-filter {
    display: flex;
} */

.button-filter {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F4FA;
    border-radius: 4px;
    letter-spacing: 0.03em;
    border: 0;
    cursor: pointer;
    /* text-align: center; */
}

.button.button-filter {
    cursor: pointer;
}

.project-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.address :hover,
.header-nav :hover,
.header-contacts :hover,
.address :focus,
.header-nav :focus,
.header-contacts :focus,
.logo-fotter>span :hover,
.logo-fotter :hover,
.logo-fotter>span :focus,
.logo-fotter :focus {
    color: var(--accent);
}

/* .projects {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

/* .project-title {
    display: flex;
    justify-content: left;
}

.project-text {
    display: flex;
    justify-content: left;
} */

/* hover,  */