:root {
    --accent-color: #2196F3;
    --accent-btn-color: #188CE8;
    --text: #757575;
    --white: #FFFFFF;
    --maine: #212121;
    --background-secondary-color: #F5F4FA;
    --primery-font-family: Roboto, sans-serif;
    --background-color-dark: #2F303A;
}

body {
    font-family: var(--primery-font-family);
    color: var(--text);
    background-color: var(--white);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-nav.current {
    color: var(--accent-color);
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;

}

.logo-header>span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--maine);
    line-height: 1.19;
}

.header-nav {
    color: var(--maine);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.nav-contact {
    color: var(--text);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

/* hero */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    color: var(--white);
    background-color: var(--background-color-dark);
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero {
    background-color: var(--background-color-dark)
}

/* hero-button */
.hero-button {
    font-family: var(--primery-font-family);
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.8;
    border-radius: 4px;
    border: var(--accent-color);

}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-btn-color)
}

/* features */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    color: var(--maine);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.features-text {
    color: var(--text);
    line-height: 1.7;
}

/* examples */
.examples-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* team */
.team {
    background-color: var(--background-secondary-color);
}

.team-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team-member {
    color: var(--maine);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-card {
    background-color: var(--white);
}

/* footer */
.footer {
    background-color: var(--background-color-dark)
}

.logo-fotter {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.19;
}

.logo-fotter>span {
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-adress {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.footer-location {
    color: var(--white);
    line-height: 24px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.projects {
    background-color: var(--white);
}

.button-filter {
    font-family: var(--primery-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-secondary-color);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    text-align: center;
}

.button.button-filter {
    cursor: pointer;
}

.project-title {
    color: var(--maine);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.address :hover,
.header-nav :hover,
.header-contacts :hover,
.address :focus,
.header-nav :focus,
.header-contacts :focus,
.logo-fotter>span :hover,
.logo-fotter :hover,
.logo-fotter>span :focus,
.logo-fotter :focus,
.button-filter:hover,
.button-filter:focus {

    color: var(--accent-color);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--white);
    background-color: var(--accent-color);
}